body {
    margin: 0;
    background: #ebebeb;
}

.jumbotron {
    background: url('header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
    border-radius: 0!important;

}

.intro {
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

.description {
    margin-top: 100px;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.cta-button {
    margin-top: 50px;
}

.subject-drop {
    display: none;
}

.subjects {
    margin-top: 20px;
}

.subject-left {
    padding: 10px;
}

.subject-icon {
    display: inline;
    vertical-align: 1%;
    margin-left: 5px;
}

.subject-name {
    display: inline-block;
    vertical-align: 0.5px;
}

.list-q {
    margin-top: 20px;
    width: 500px;
}

.question-individual {
    margin-bottom: 20px!important;
    border: none;
    width:600px;

}
.brainly-questions:nth-child(n+3) {
    display: none;
}

.sg-spinner {
    width: 16px !important;
    height: 16px !important;
    margin-right: 10px;

}

#loadMore {
    margin-top: 20px;
}

.data {
    width: 300px;
    margin-top: 20px;
    margin-left: -100px;
}

.data h1 {
    text-align: center;
}

.data p{
    margin-top: 20px;
    text-align: center;
}